<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._obj_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._rel_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.8171.35738" newVersion="1.1.8171.35738" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._txt_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8171.36619" newVersion="1.0.8171.36619" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._fs_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.8097.30122" newVersion="2.0.8097.30122" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._num_._LINQ_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.7834.36760" newVersion="1.0.7834.36760" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._num_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8101.32702" newVersion="1.0.8101.32702" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._bit_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.7835.35564" newVersion="1.0.7835.35564" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._set_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.7987.40863" newVersion="1.0.7987.40863" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._character_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.8343.38579" newVersion="2.1.8343.38579" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul.num._real_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.8171.36823" newVersion="2.0.8171.36823" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotNetZip" publicKeyToken="6583c7c814667745" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.16.0.0" newVersion="1.16.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._time_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8095.28907" newVersion="1.0.8095.28907" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="_nilnul_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8172.19358" newVersion="1.0.8172.19358" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul.num._quotient_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8171.36704" newVersion="1.0.8171.36704" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.diagnostics>
		<sharedListeners>
			<add name="MyTraceListener" traceOutputOptions="DateTime" type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="MyApplicationName_Trace.log">
				<!--
        Off - Does not allow any events through. 
        Error - Allows Error events through. 
        Warning - Allows Error, and Warning events through. 
        Information - Allows Error, Warning, and Information events through. 
     -->
				<filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />
			</add>
		</sharedListeners>

		<trace autoflush="true" indentsize="4">
			<!--<trace useGlobalLock="false" autoflush="true" indentsize="0">
					<listeners>
						<add name="myListener" type="System.Diagnostics.TextWriterTraceListener, system version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="c:\myListener.log" />
					</listeners>
				</trace>-->
			<listeners>
				<!--<add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="application.log" />
        <remove name="Default" />-->
				<!--<add name="MyTraceListener" />-->


				<add name="console" type="System.Diagnostics.ConsoleTraceListener">
				</add>
			</listeners>
		</trace>
		<switches>
			<add name="Data" value="0" />
			<add name="switch1" value="Information" />
			<add name="switch2" value="Warning" />
		</switches>
		<sources>
			<source name="MyClass1" switchName="switch1">
				<listeners>
					<remove name="Default"></remove>
					<add name="console"></add>
				</listeners>
			</source>
			<source name="MyClass2" switchName="switch2">
				<listeners>
					<remove name="Default"></remove>
					<add name="console"></add>
				</listeners>
			</source>
			<source name="classB" switchName="mySwitch" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<clear />
					<add name="textwriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="ClassBLog.txt" traceOutputOptions="DateTime" />
				</listeners>
			</source>
			<source name="System.ServiceModel" switchValue="Off" propagateActivity="true">
				<listeners>
					<add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="somePath" />
				</listeners>
			</source>
		</sources>
		<!--To change those settings you must change the configuration file and restart the application or programmatically refresh the application using the TraceRefresh method.-->
	</system.diagnostics>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>
